#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid black;
    background-color: beige;
    width: 200px;
    height: 300px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}